<%= simple_form_for @team do |f| %>
  <%= f.error_messages %>
    <%= f.input :team_id %>
    <%= f.input :name %>
  <%= f.association :manager, collection: Technician.where("manager is true or admin is true").map {|t| [t.full_name, t.id]} %>
  <%= f.input :warehouse_id %>
    <p><%= f.submit %></p>
<% end %>
