<% title @title, false %>

<% if current_technician.admin? %>

  <%= render 'form' %>
  
<% else %>
  <%= form_for @technician do |f| %>
    <%= f.error_messages %>
    <div class="field">
      <%= f.label 'New Password' %>
      <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <p><%= f.submit "Update Password" %></p>
  <% end %>
<% end %>