<br />
<table width="100%" class="table-condensed table-hover">
  <tr class="pretty">
    <th><%= sortable 'teams.name', 'Team' %></th>
    <th><%= sortable 'first_name' %></th>
    <th><%= sortable 'last_name' %></th>
    <th><%= sortable 'friendly_name' %></th>
    <th><%= sortable 'sharp_name' %></th>
    <th>Car Stock Number</th>
    <th><%= sortable 'email' %></th>
    <th><%= sortable 'crm_id' %></th>
    <th>Admin?</th>
    <th>Manager?</th>
    <th></th>
  </tr>
  <% for technician in @technicians %>
    <tr class="<%= cycle('light','dark') %>">
      <td><%= technician.team.name %></td>
      <td><%= technician.first_name %></td>
      <td><%= technician.last_name %></td>
      <td><%= technician.friendly_name %></td>
      <td><%= technician.sharp_name %></td>
      <td><%= technician.car_stock_number %></td>
      <td><%= technician.email %></td>
      <td><%= technician.crm_id %></td>
      <td><%= technician.admin %></td>
      <td><%= technician.manager %></td>
      <td><%= link_to edit_technician_path(technician) do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
      | <%= link_to technician, :confirm => 'Are you sure?', :method => :delete do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Technician", new_technician_path %></p>
