<%= form_for @model do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label 'Name (no spaces or dash)' %><br />
    <%= f.text_field :nm %>
  </p>
  <p>
    <%= f.label "Model Group (Leave blank to auto-create a new group using the model name)" %><br />
    <%= text_field_tag :model_group, @model.model_group.nil? ? '' :@model.model_group.name %>
  </p>
  <%= render partial: 'model_groups/targets', locals: {mg: @model.model_group} %>
  <p><%= f.submit %></p>
<% end %>
