<%= simple_form_for @model do |f| %>
  <%= f.error_notification %>
  <%= f.input :nm, label: 'Name', hint: "no spaces or dashes" %>
  <%= f.association :model_group, collection: ModelGroup.all.order(:name).map {|m| [m.name, m.id]} %>
  <%= render partial: 'model_groups/targets', locals: {mg: @model.model_group} %>
  <p><%= f.submit %></p>
<% end %>
