<br />
<table width="100%" class="table-condensed">
  <tr>
    <th>Model</th><th>Model Group</th><th>Color</th><th>Description</th>
  </tr>
  <tr>
    <%= form_tag models_url, method: :get do %>
    <td><%= text_field_tag "search[nm]", @search_params['nm'], :size => 10, class: "fixed-width-input" %></td>
    <td><%= text_field_tag "search[mg]", @search_params['mg'], :size => 10, class: "fixed-width-input" %></td>
    <td></td>
    <td><%= text_field_tag "search[desc]", @search_params['desc'], :size => 1, class: "variable-width-input" %></td>
    <td colspan=3><%= submit_tag 'Search' %></td>
    <% end %>
  </tr>
  <% for model in @models %>
    <tr class="<%= cycle('light','dark') %>">
      <td><%= model.nm %></td>
      <td><%= model.model_group.name %></td>
      <td><%= model.model_group.color_flag %></td>
      <td><%= model.model_group.description %></td>
      <% if current_user.admin? %>
        <td><%= link_to model do %>
              <span class="glyphicon glyphicon-eye-open"></span>
            <% end %> |
        <%= link_to edit_model_path(model) do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %> |
        <%= link_to model, :confirm => 'Are you sure?', :method => :delete do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if current_user.admin? %>
  <p><%= link_to "New Model", new_model_path %></p>
<% end %>
<p><%= will_paginate(@models) %></p>
