<% title "Models", false %>

<table>
  <tr>
    <th>Name</th><th>Model Group</th><th>Color</th><th>Description</th>
  </tr>
  <% for model in @models %>
    <tr class="<%= cycle('light','dark') %>">
      <td><%= model.name %></td>
      <td><%= model.model_group.name %></td>
      <td><%= model.model_group.color_flag %></td>
      <td><%= model.model_group.description %></td>
      <td><%= link_to "Show", model %></td>
      <td><%= link_to "Edit", edit_model_path(model) %></td>
      <td><%= link_to "Destroy", model, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Model", new_model_path %></p>
