<% title "Models", false %>

<table>
  <tr>
    <th>Model</th><th>Model Group</th><th>Color</th><th>Description</th>
  </tr>
  <tr>
    <%= form_tag models_url, method: :get do %>
    <td><%= text_field_tag "search[nm]", @search_params['nm'], :size => 1 %></td>
    <td><%= text_field_tag "search[mg]", @search_params['mg'], :size => 1 %></td>
    <td></td>
    <td><%= text_field_tag "search[desc]", @search_params['desc'], :size => 1 %></td>
    <td colspan=3><%= submit_tag 'Search' %></td>
    <% end %>
  </tr>
  <% for model in @models %>
    <tr class="<%= cycle('light','dark') %>">
      <td><%= model.nm %></td>
      <td><%= model.model_group.name %></td>
      <td><%= model.model_group.color_flag %></td>
      <td><%= model.model_group.description %></td>
      <td><%= link_to "Show", model %></td>
      <td><%= link_to "Edit", edit_model_path(model) %></td>
      <td><%= link_to "Destroy", model, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<% if current_technician.try(:admin) %>
  <p><%= link_to "New Model", new_model_path %></p>
<% end %>
<p><%= will_paginate(@models) %></p>
