<% title "Counter Datum" %>

<p>
  <strong>Counter:</strong>
  <%= @counter_datum.counter_id %>
</p>
<p>
  <strong>Reading:</strong>
  <%= @counter_datum.reading_id %>
</p>
<p>
  <strong>Value:</strong>
  <%= @counter_datum.value %>
</p>
<p>
  <strong>Unit:</strong>
  <%= @counter_datum.unit %>
</p>

<p>
  <%= link_to "Edit", edit_counter_datum_path(@counter_datum) %> |
  <%= link_to "Destroy", @counter_datum, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", counter_data_path %>
</p>
