<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Device transfer request</h1>
    <p>
      The following devices are being transfered to you from <%= @from_region %>:
      <ul>
        <% @dev_list.each do |dev| %>
          <li>CRM ID: <%= dev.crm_object_id %>, Model: <%= dev.model.nm %>, s/n: <%= dev.serial_number %></li>
        <% end %>
      </ul>
    </p>
    <p><%= @msg %></p>
    <br />
    <p>
      To complete the tranfer process please click <%= link_to "here", to_me_transfers_url %>
    </p>
  </body>
</html>
