<% title "Readings", false %>

<table>
  <tr>
    <th>Taken At</th>
    <th>Device</th>
    <th>Technician</th>
    <% allcodes = PmCode.all
       for code in allcodes %>
        <th><%= code.name %></th>
    <% end %>
  </tr>
  <% for reading in @readings %>
    <tr class="<%= cycle('light','dark') %>">
      <td><%= reading.taken_at %></td>
      <td><%= reading.device.crm_object_id %></td>
      <td><%= reading.technician.full_name %></td>
      <% for code in allcodes %>
      <% c = reading.counter_for(code.name) %>
      <% if c.nil? %>
          <td></td>
      <% else %>
          <td><%= c.value %></td>
      <% end 
      end %> 
      <td><%= link_to "Show", reading %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @readings %>
<p><%= link_to "New Reading", new_reading_path %></p>
