    <%= hidden_field_tag "alldevs[#{device.id}]", device.id %>
    <tr class="<%= cycle('light','dark') %><% if not current_technician.nil? and  device.backup_tech_id == current_technician.id %> backup_tech<% end %>">
      <td><%= check_box_tag "device[#{device.id}]", device.id %></td>
      <td><%= link_to device.crm_object_id, edit_device_path(device), title: "Edit device details." %></td>
      <td><%= device.model.nm %></td>
      <td><%= device.serial_number %></td>
      <td><%= device.client.name %></td>
      <td><%= device.location.address1 %></td>
      <td><%= device.location.city %></td>
      <td class='<%= pm_status_class(device) %>'><%= device.outstanding_pms.order(:next_pm_date).where("next_pm_date is not NULL").first.next_pm_date.to_s(:MdY) %></td> 
    </tr>
