    <%= hidden_field_tag "alldevs[]", device.id %>
    <tr class="<%= cycle('light','dark') %><% if not current_technician.nil? and  device.backup_tech_id == current_technician.id %> backup_tech<% end %>">
      <td><%= check_box_tag "selected_devices[]", device.id %></td>
      <td><%= link_to device.crm_object_id, edit_device_path(device), title: "Edit device details." %></td>
      <td><%= device.model.nm %></td>
      <td><%= device.serial_number %></td>
      <td class="hidden-xs"><%= device.client.name %></td>
      <td class="hidden-xs"><%= device.location.address1 %></td>
      <td class="hidden-xs"><%= device.location.city %></td>
      <td class='<%= pm_status_class(device) %>' style="white-space: nowrap;"><%= device.outstanding_pms.order(:next_pm_date).where("next_pm_date is not NULL").first.next_pm_date.to_s(:MdY) %></td> 
      <% if current_user.manager? or current_user.admin? %>
        <td><%= link_to device, data: {:confirm => "Are you sure you want to delete #{device.crm_object_id}?"}, method: :delete do %>
        <span class="glyphicon glyphicon-trash"></span><% end %></td>
      <% end %>
    </tr>
