<br />
<%= simple_form_for @device, html: {class: "form-horizontal"} do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <legend>Equipment Detail</legend>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :crm_object_id, label: "CRM ID", class: "control-label col-sm-4" %>
          <div class="col-sm-8">
            <%= f.input_field :crm_object_id, {readonly: @readonly_flag, class: "form-control input-sm"} %>
            <%= f.error :crm_object_id %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :nm, label: "Model", class: "control-label col-sm-4" %>
          <div class="col-sm-8">
            <%= f.input_field :model_nm, {readonly: @readonly_flag, class: "form-control input-sm"} %>
            <%= f.error :model_nm %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :serial_number, label: "Serial #", class: "control-label col-sm-4" %>
          <div class="col-sm-8">
            <%= f.input_field :serial_number, {:readonly => @readonly_flag, class: "form-control input-sm"} %>
            <%= f.error :serial_number %>
          </div>
        </div>
        <%= f.hidden_field :model_id %>
      </div>
      <div class="col-sm-3 left-vert-separator">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          <%= f.input :active %>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          <%= f.input :under_contract %>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          <%= f.input :do_pm, label: "In PM program" %>
        </div>
      </div>
      
      <div class="col-sm-5 left-vert-separator">
        <%= f.label :team_id, label: "Team", class: "control-label col-sm-4" %>
        <div class="col-sm-8">
          <% if current_user.admin? %>
            <%= f.input_field :team_id, collection: Team.all.map{|team| [team.name, team.id]} , selected: @device.team_id, include_blank: true, class: 'form-control input-sm' %>
          <% else %>
            <p class="form-control-static"><%= @device.team.try(:name) %></p>
          <% end %>
        </div>
        <%= f.label :primary_tech_id, label: "Primary Tech", class: "control-label col-sm-4" %>
        <div class="col-sm-8">
          <% if current_user.manager? or current_user.admin? %>
            <%= f.input_field :primary_tech_id, collection: current_user.my_techs.map{|tech| [tech.full_name, tech.id]}, selected: (@device.primary_tech_id.nil? ? nil : @device.primary_tech_id), include_blank: true, class: 'form-control input-sm' %>
          <% else %>
            <p class="form-control-static"><%= @device.primary_tech.try(:full_name) %></p>
          <% end %>
        </div>
        <%= f.label :backup_tech_id, label: "Backup Tech", class: "control-label col-sm-4" %>
        <div class="col-sm-8">
          <% if current_user.manager? or current_user.admin? %>
            <%= f.input_field :backup_tech_id, collection: current_user.my_techs.map{|tech| [tech.full_name, tech.id]}, selected: @device.backup_tech_id.nil? ? nil : @device.backup_tech_id, include_blank: true, class: "form-control input-sm" %>
          <% else %>
            <p class="form-control-static"><%= @device.backup_tech.try(:full_name) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4">
        <%= f.input :pm_counter_type, collection: [['Page Counter','counter'], ['Rotations', 'rotation'], ['Life %','life']], as: :radio_buttons, label: "Estimate PM date using:" %>
      </div>
      <div class="col-sm-6">
        <%= f.input :notes, placeholder: "Record notes for this device.", class: "form-control input-sm variable-width-input" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Client and Location</legend>
    <div class="form-group">
      <%= f.label :client_id, label: "Customer", title: "Start typing the customer's name...", class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= text_field_tag 'client_name', @device.client.try(:name), class: 'form-control input-sm' %>
        <%= f.hidden_field :client_id %>
        <%= f.hidden_field 'location_id' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :location_id, label: "Location", class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <div id="device_location" class="variable-width-input">
          <% @locations.each do |loc| %>
            <%= f.radio_button :location_id, loc.id %> <%= link_to loc.to_s, edit_location_path(loc) %><br />
          <% end %>
          <br />
          <fieldset>
            <legend>New Location. Fill in all fields as best as you can.</legend>
            <%= label_tag 'location[address1]', 'Address line 1', {class: "control-label col-sm-2"} %>
            <div class="col-sm-10">
              <%= text_field_tag 'location[address1]', '', class: "form-control input-sm" %>
            </div>
            <%= label_tag 'location[address2]', 'Address line 2', {class: "control-label col-sm-2"} %>
            <div class="col-sm-10">
              <%= text_field_tag 'location[address2]', '', class: "form-control input-sm" %>
            </div>
            <%= label_tag 'location[city]', 'City', {class: "control-label col-sm-2"} %>
            <div class="col-sm-10">
              <%= text_field_tag 'location[city]', '', class: "form-control input-sm" %>
            </div>
            <%= label_tag 'location[province]', 'Province', {class: "control-label col-sm-2"} %>
            <div class="col-sm-10">
              <%= select_tag 'location[province]', options_for_select([['',''],['Alberta','AB'],['BC','BC'],['Manitoba','MB'],['New Brunswick','NB'],['Newfoundland','NF'],['Nova Scotia','NS'],['Ontario','ON'],['PEI','PEI'],['Quebec','QC'],['Sask','SK']]), class: "form-control input-sm" %>
            </div>
            <%= label_tag 'location[post_code]', "Postal Code", {class: "control-label col-sm-2"} %>
            <div class="col-sm-10">
              <%= text_field_tag 'location[post_code]', '', {class: "form-control input-sm"} %>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </fieldset>
  <table width="100%">
    <tr><td colspan='100%'>
      <p><%= f.submit %></p>
    </td></tr>
  </table>
<% end %>
<% unless @device.id.nil? %>
  <%= render 'device_contacts' %>
<% end %>
