<% title @title, true %>
<div id="bw_hidden"><%= @bw_list %></div>
<div id="c_hidden"><%= @c_list %></div>
<div id="all_hidden"><%= @all_list %></div>
<br />
<%= render partial: "header_table", locals: {button: "analysis"} %>

<div class="visible-xs boxed">
<strong>Monthly avg: BW =</strong> <%= @bw_monthly != 0 ? number_with_delimiter(@bw_monthly.round) : 'Unknown' %><% if @c_monthly > 0 -%>; <strong>COL = </strong><%= number_with_delimiter(@c_monthly.round) %><% else %>; <strong>COL = </strong>Unknown<% end %>
</div>

<% unless @device.nil? or @prev_reading.nil? %>
<table class="table-condensed" width="100%">
  <%= form_tag(record_data_device_url,  id: "counter_form") do %>
  <tr>
    <th>PM Code</th>
    <th class="hidden-xs">PM Description</th>
    <th class="hidden-xs">Previous Readings<br /><%= @prev_reading.nil? ? ' ' : @prev_reading.taken_at.strftime('%b %-d, %Y') %></th>
    <th class="center"><% if @todays_reading.nil? %>
      Current Estimate
      <% else %>
      Today's Entry
      <% end %><br />
      <%= text_field_tag 'reading[taken_at]', Date::today.to_s(:MdY), {class: 'center form-control input-sm'} %></th>
    <th class="hidden-xs">Progress to next PM</th>
    <th class="hidden-xs">Next PM Date</th>
  </tr>
    <%= hidden_field_tag 'reading[technician_id]', @prev_reading.technician_id %>
    <%= hidden_field_tag 'reading[device_id]', @prev_reading.device_id %>

    <% @rows.each do |r| %>
      <tr class=<%= r[0] %>>
        <td><%= r[1].upcase %></td>
        <td class="hidden-xs"><%= r[2] %></td>
        <td class='rightjustify hidden-xs'><span id="prev_<%= r[1].upcase %>"><%= number_with_delimiter(r[3]) %></span></td>
        <td class='rightjustify'><%= text_field_tag "counter[#{r[1]}]", number_with_delimiter(r[4]), {class: 'rightjustify form-control input-sm'} %></td>
        <td class="hidden-xs">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:<%= r[5].to_i %>%">
              <%= r[5].to_i %>%
            </div>
          </div>
        </td>
        <td class='hidden-xs'><%= r[6] %></td>
      </tr>
    <% end %>
    <tr><td colspan=6>
      <% notes = @todays_reading.nil? ? @prev_reading.notes : @todays_reading.notes %>
      <%= text_area_tag 'reading[notes]', notes, class: 'form-control' %>
    </td></tr>
    <tr><td>
      <%= submit_tag "Save Reading", id: 'save_reading' %>
    </td></tr>
  <% end %>
</table>
<% end %>
