<% title @title, false %>
<div id="bw_hidden"><%= @bw_list %></div>
<div id="c_hidden"><%= @c_list %></div>
<div id="all_hidden"><%= @all_list %></div>
<br />
<%= render partial: 'header_table', locals: {button: 'enter'} %>

<% unless @device.nil? %>
<table width="100%">
<%= form_tag(record_data_device_url, id: 'counter_form') do %>
  <%= hidden_field_tag 'reading[technician_id]', @reading.technician_id %>
  <%= hidden_field_tag 'reading[device_id]', @reading.device_id %>
  <tr>
    <th>PM Code</th>
    <th>PM Description</th>
    <th>Previous Readings<br /><%= @last_reading.taken_at.strftime('%b %-d, %Y') %></th>
    <th>Current Readings<br /><%= text_field_tag 'reading[taken_at]', @reading.taken_at, class: 'center' %></th>
    <th>Progress to next PM</th>
    <th>Next PM Date</th>
  </tr>
  <tr>
    <td>TotBW</td>
    <td>Total Counter: TotBW</td>
    <td class=rightjustify><%= number_with_delimiter(@lastbw) %></td>
    <td class=rightjustify><%= text_field_tag "counter[BWTOTAL]", '', {class: 'rightjustify'} %></td>
  </tr>
  <% if @device.model.model_group.color_flag %>
    <tr>
      <td>TotC</td>
      <td>Total Counter: TotC</td>
      <td class=rightjustify><%= number_with_delimiter(@lastc) %></td>
      <td class=rightjustify><%= text_field_tag "counter[CTOTAL]", '', {class: 'rightjustify'} %></td>
    </tr>
  <% end %>

  <% @codes.each do |c| %>
    <% prev = @last_reading.counter_for(c) %>
    <% unless @device.model.model_group.model_targets.where(["maint_code = ? and target <> 0", c]).empty? %>
      <% pm_code = PmCode.find_by_name c %>
      <tr>
        <td><%= c.upcase %></td>
        <td><%= pm_code.description %></td>
        <td class=rightjustify><span id="prev_<%= c.upcase %>"><%= prev.nil? ? '' : number_with_delimiter(prev.value) %></span></td>
        <td class=rightjustify><%= text_field_tag "counter[#{c.upcase}]", '', {class: 'rightjustify'} %></td>
      </tr>
    <% end %>
  <% end %>
  <tr><td colspan=6>
    <%= text_area_tag 'reading[notes]', @reading.notes, rows: 5, cols: 60 %>
  </td></tr>
  <tr><td>
    <%= submit_tag "Save Reading" %>
  </td></tr>
<% end %>
</table>
<% end %>
