<br />
<table class="table-condensed" width="100%">
  <caption>
    <span class=right_end>
      <%= form_tag show_or_hide_backup_devices_url do %>
        <% if session[:showbackup] %>
          <%= hidden_field_tag 'showbackup', "false" %>
          <%= submit_tag "Hide Backup Devices" %>
        <% else %>
          <%= hidden_field_tag 'showbackup', "true" %>
          <%= submit_tag "Show Backup Devices" %>
        <% end %>
      <% end %>
    </span>
  </caption>

  <tr class=pretty>
    <th></th>
    <th><%= sortable 'crm_object_id', 'CRM ID', @search_params %></th>
    <th><%= sortable 'models.nm', 'Model', @search_params %></th>
    <th><%= sortable 'serial_number', 'Serial Number', @search_params %></th>
    <th><%= sortable 'clients.name', 'Client Name', @search_params %></th>
    <th class="hidden-xs"><%= sortable 'locations.address1', 'Location', @search_params %></th>
    <th class="hidden-xs"><%= sortable 'locations.city', 'City', @search_params %></th>
    <th>Earliest PM</th>
    <% if current_user.manager? or current_user.admin? %>
      <th></th>
    <% end %>
  </tr>
  <tr class=search_fields>
  <%= form_tag devices_url, :method => :get do %>
    <%= hidden_field_tag 'sort', sort_column %>
    <%= hidden_field_tag 'direction', sort_direction %>
    <td></td>
    <td id="search_crm_cell"><%= text_field_tag "search[crm]", @search_params['crm'], {:size => 10, class: "fixed-width-input"} %></td>
    <td id="search_model_cell"><%= text_field_tag "search[model]", @search_params[:model], {:size => 8, class: "fixed-width-input"} %></td>
    <td id="search_sn_cell"><%= text_field_tag "search[sn]", @search_params[:sn], {:size => 8, class: "fixed-width-input"} %></td>
    <td id="search_client_name_cell"><%= text_field_tag "search[client_name]", @search_params[:client_name], {:size => 1, class: "variable-width-input"} %></td>
    <td id="search_addr1_cell" class="hidden-xs"><%= text_field_tag "search[addr1]", @search_params[:addr1], {:size => 1, class: "variable-width-input"} %></td>
    <td id="search_city_cell" class="hidden-xs"><%= text_field_tag "search[city]", @search_params[:city], {:size => 1, class: "variable-width-input"} %></td>
    <td><%= submit_tag 'Search', :name => nil %></td>
  <% end %>
  </tr>
  
  <% unless @devices.empty? %>
    <%= form_tag handle_checked_devices_url do %>
      <%= render @devices %>
      <tr class=context_menu>
        <td colspan="99">
          For selected devices (or all devices if none selected): 
          <%= submit_tag "Create Parts List for PMs", name: 'parts' %> | 
          <%= submit_tag "Create PM Order", name: 'service' %>
          <% if current_user.admin? or current_user.manager? %>
            | Transfer device(s) to <%= select_tag :to_tech_id, options_from_collection_for_select(current_user.my_techs.order(:friendly_name), :id, :friendly_name), {include_blank: true} %> <%= submit_tag "Go", name: 'transfer' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  
</table>
<p>
<%= will_paginate @devices %>
</p>
<p>
<% if current_user.admin? or current_user.manager? %>
  <%= link_to "New Device", new_device_path %>
<% end %>

<% session[:search_caller] = nil %>

