<% title @title %>
<table width="100%">
  <tr class=pretty>
    <th></th>
    <th><%= sortable 'crm_object_id', 'CRM ID', params[:search] %></th>
    <th><%= sortable 'models.nm', 'Model', params[:search] %></th>
    <th><%= sortable 'serial_number', 'Serial Number', params[:search] %></th>
    <th><%= sortable 'clients.name', 'Client Name', params[:search] %></th>
    <th><%= sortable 'locations.address1', 'Location', params[:search] %></th>
    <th><%= sortable 'locations.city', 'City', params[:search] %></th>
    <th></th>
  </tr>
  <tr class=search_fields>
  <%= form_tag devices_url, :method => :get do %>
    <%= hidden_field_tag 'sort', sort_column %>
    <%= hidden_field_tag 'direction', sort_direction %>
    <td></td>
    <td id="search_crm_cell"><%= text_field_tag "search[crm]", @search_params['crm'], :size => 1 %></td>
    <td id="search_model_cell"><%= text_field_tag "search[model]", @search_params[:model], :size => 1 %></td>
    <td id="search_sn_cell"><%= text_field_tag "search[sn]", @search_params[:sn], :size => 1 %></td>
    <td id="search_client_name_cell"><%= text_field_tag "search[client_name]", @search_params[:client_name], :size => 1 %></td>
    <td id="search_addr1_cell"><%= text_field_tag "search[addr1]", @search_params[:addr1], :size => 1 %></td>
    <td id="search_city_cell"><%= text_field_tag "search[city]", @search_params[:city], :size => 1 %></td>
    <td><%= submit_tag 'Search', :name => nil %></td>
  <% end %>
  </tr>
  
  <%= form_tag handle_checked_devices_url do %>
  <div class=context_menu>For selected devices (or all devices if none selected): 
    <%= submit_tag "Create Parts List", name: 'parts' %> | 
    <%= submit_tag "Create PM Order", name: 'service' %> | 
    <%= submit_tag "List All Parts", name: 'all_parts' %>
    <% if current_user.admin? or current_user.manager? %>
      | Transfer device(s) to <%= select_tag :to_team_id, options_from_collection_for_select(Team.all, :id, :name), include_blank: true %><%= submit_tag "Go", name: 'transfer' %>
    <% end %>
  </div>
    <br />
    <%= render @devices %>
  <% end %>
  
</table>
<p>
<%= will_paginate @devices %>
</p>
<p>
<% if current_user.admin? or current_user.manager? %>
  <%= link_to "New Device", new_device_path %>
<% end %>

<% session[:search_caller] = nil %>
