<% title @title, false %>
<table width=100% class="table-condensed">
  <caption>Devices with outstanding PMs
    <span class=right_end>
      <%= form_tag show_or_hide_backup_devices_url do %>
        <% if session[:showbackup] %>
          <%= hidden_field_tag 'showbackup', "false" %>
          <%= submit_tag "Hide Backup Devices" %>
        <% else %>
          <%= hidden_field_tag 'showbackup', "true" %>
          <%= submit_tag "Show Backup Devices" %>
        <% end %>
      <% end %>
    </span>
  </caption>
  <tr class=pretty>
    <th></th>
    <th><%= sortable 'crm_object_id', 'CRM ID' %></th>
    <th><%= sortable 'models.nm', 'Model' %></th>
    <th><%= sortable 'serial_number', 'Serial Number' %></th>
    <th><%= sortable 'clients.name', 'Client Name' %></th>
    <th><%= sortable 'locations.address1', 'Address' %></th>
    <th><%= sortable 'locations.city', 'City' %></th>
    <th><%= sortable 'locations.post_code', 'Postal Code' %></th>
    <th><%= sortable 'outstanding_pms', 'Earliest PM' %></th>
    <th><%= sortable 'pm_count', 'Count' %></th>
  </tr>
  <tr class=search_fields>
    <%= form_tag my_pm_list_devices_url, :method => :get do %>
      <%= hidden_field_tag 'sort', sort_column('locations.address1') %>
      <%= hidden_field_tag 'direction', sort_direction %>
      <td></td>
      <td id="search_crm_cell"><%= text_field_tag "search[crm]", @search_params['crm'], :size => 10, class: "fixed-width-input" %></td>
      <td id="search_model_cell"><%= text_field_tag "search[model]", @search_params[:model], :size => 8, class: "fixed-width-input" %></td>
      <td id="search_sn_cell"><%= text_field_tag "search[sn]", @search_params[:sn], :size => 8, class: "fixed-width-input" %></td>
      <td id="search_client_name_cell"><%= text_field_tag "search[client_name]", @search_params[:client_name], :size => 1, class: "variable-width-input" %></td>
      <td id="search_addr1_cell"><%= text_field_tag "search[addr1]", @search_params[:addr1], :size => 1, class: "variable-width-input" %></td>
      <td id="search_city_cell"><%= text_field_tag "search[city]", @search_params[:city], :size => 1, class: "variable-width-input" %></td>
      <td id="search_pc_cell"><%= text_field_tag "search[post_code]", @search_params[:post_code], :size => 7, class: "fixed-width-input" %></td>
      <td colspan=2><%= submit_tag 'Search', :name => nil %></td>
    <% end %>
  </tr>
  <%= form_tag handle_checked_devices_url do %>
    <br />
    <% @dev_list.each do |dev| %>
      <%= hidden_field_tag "alldevs[#{dev.id}]", dev.id %>
      <tr class="<%= cycle('light','dark') %><% if not current_technician.nil? and dev.backup_tech_id == current_technician.id %> backup_tech<% end %>">
        <td><%= check_box_tag "device[#{dev.id}]", dev.id %></td>
        <td class=rightjustify><%= link_to dev.crm_object_id, analyze_data_device_path(dev), title: "PM Analysis" %></td>
        <td><%= dev.model.nm %></td>
        <td><%= dev.serial_number %></td>
        <td><%= dev.client.name %></td>
        <td><%= dev.location.nil? ? '' : dev.location.address1 %></td>
        <td><%= dev.location.nil? ? '' : dev.location.city %></td>
        <td><%= dev.location.nil? ? '' : dev.location.post_code %></td>
        <td class='<%= pm_status_class(dev) %>' style="white-space: nowrap;"><%= @code_date[dev.id].to_s(:MdY) %></td>
        <td class='<%= pm_status_class(dev) %>'><%= @code_count[dev.id] %></td>
      </tr>
    <% end %> <!-- @dev_list.each -->
    <tr class="context_menu">
      <td colspan=99>
        For selected devices (or all devices if none selected): 
        <%= submit_tag "Create Parts List", name: 'parts' %> | 
        <%= submit_tag "Create PM Order", name: 'service' %>
        <% if current_user.admin? or current_user.manager? %>
          | Transfer device(s) to <%= select_tag :to_tech_id, options_from_collection_for_select(current_user.my_techs.order(:friendly_name), :id, :friendly_name), include_blank: true %> <%= submit_tag "Go", name: 'transfer' %>
        <% end %>
      </td>
    </tr>
  <% end %> <!-- form -->
</table>
<br />
<%= will_paginate @dev_list %>
