<% title "Parts List for PMs", false %>
<br />
<table width = 100%>

<%= form_tag parts_for_multi_pm_devices_path do %>
<% @parts_hash.each_key do |dev| %>
  <%= hidden_field_tag "alldevs[#{dev.id}]", dev.id %>
  <% unless @parts_hash[dev].empty? %>
    <tr>
      <th colspan=10>CRM Object ID: <%=h dev.crm_object_id %>, Model: <%=h dev.model.name %><br /><%=h dev.client.name %>, <%=h dev.location.address1 %></td>
    </tr>
    <tr>
      <th></th>
      <th>PM Code</th>
      <th>Part Number</th>
      <th>Part Description</th>
      <th>Choice</th>
      <th>Quantity</th>
    </tr>
    <% reset_cycle("default") %>
    <% @parts_hash[dev].each do |info| %>
      <tr class="<%= cycle 'light', 'dark' %>" id="<%=h info[2].part.name %>_<%=h dev.crm_object_id %>">
        <%= hidden_field_tag "choice[dev_#{dev.id}[#{info[0]}]]", @choice["dev_#{dev.id}"][info[0]] %>
        <td><%= check_box_tag "checked[dev_#{dev.id}[#{info[0]}]]" %></td>
        <td><%= info[0] %></td>
        <td><%= info[2].part.name %></td>
        <td><%= info[2].part.description %></td>
        <td class="rightjustify"><%= info[1] + 1 %></td>
        <td class="rightjustify"><%= info[2].quantity %></td>
      </tr>
    <% end %> <!-- @parts_hash[dev].each -->
  <% end %>
  <% end %>
  <tr><td colspan=10 class=button><%= submit_tag "Find Alternates", name: 'alternate_parts' %> for selected parts</td></tr>
<% end %> <!-- form_tag -->
</table>
<br />
<table width=100%>
  <caption>Combined Parts List</caption>
  <tr>
    <th>Part Number</th>
    <th>Description</th>
    <th>Quantity</th>
  </tr>

  <% reset_cycle("default") %>
  <%= form_tag write_parts_order_devices_path %>
  <% @all_parts.each_key do |part_id| %>
    <% pmp = PartsForPm.find_by(part_id: part_id) %>
    <% partcount = (@all_parts[part_id] > @all_parts[part_id].to_i) ? @all_parts[part_id].to_i + 1 : @all_parts[part_id].to_i %>
    <%= hidden_field_tag "part[#{part_id}]", partcount %>
    <tr class="<%= cycle('light','dark') %>">
      <td id="part_list_<%=h pmp.part.name %>"><%=h pmp.part.name %></td>
      <td><%=h pmp.part.description %></td>
      <td class="rightjustify"><%= partcount %></td>
    </tr>
  <% end %>
  <tr><td colspan=10 class=button><%= submit_tag "Order Parts by email", name: nil %></td></tr>
</table>