<% title @title, false %>
<br />
<%= render partial: "header_table", locals: {button: "history"} %>

<% unless @device.nil? %>
  <table width="100%">
    <caption>Counter History</caption>
    <tr>
      <th>Date Readings Taken</th>
      <th class=rightjustify>BW</th>
      <% if @device.model.model_group.color_flag %>
        <th class=rightjustify>Colour</th>
      <% end %>

      <% @all_codes.each do |c| %>
        <th class='rightjustify'><%=h c %></th>
      <% end %>
      <th>Action</th>
    </tr>
    <% for reading in @readings %>
      <% zero_reading = true %>
      <tr class="<%= cycle('light','dark') %>">
        <td><span title="<%=h reading.notes %>"><%=h best_in_place(reading, :taken_at, as: :date, :display_with => lambda {|d| d.to_s(:MdY)}) %></span></td>
        <td class=rightjustify><%= number_with_delimiter(@readings_h[reading.id]['BWTOTAL'].value) %></td>
        <% if @device.model.model_group.color_flag %>
          <td class=rightjustify><%= number_with_delimiter(@readings_h[reading.id]['CTOTAL'].value) %></td>
        <% end %>
        <% @all_codes.each do |code| %>
          <td class=rightjustify><%= number_with_delimiter(@readings_h[reading.id][code].value) %></td>
        <% end %>
        <td><%= link_to "Remove", reading, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>

