<% title "Equipment Record for #{@device.crm_object_id}" %>
<div class='context_menu'>
<% if current_technician.admin? or current_technician.manager? %>
  <%= link_to "Edit", edit_device_path(@device) %> |
<% end %>
</div>
<br />
<table width=100%>
  <tr><th width=45%>Equipment and Client Detail</th><th width=55%>Equipment Notes</th></tr>
  <tr><td class=boxed> 
        <%= @device.model.nm %>, s/n: <%= @device.serial_number %>, CRM ID: <%= @device.crm_object_id %><br />
        <%= @device.client.name %><br />
        <%= @device.location.address1 %>, <%= @device.location.address2 %>, <%= @device.location.city %><br />
        Monthly average: BW = <%= number_with_delimiter(@device.device_stat.bw_monthly) %>; Col = <%= number_with_delimiter(@device.device_stat.c_monthly) %><br />
        PM Visits Per Year = <%= @device.device_stat.vpy %>
      </td>
      <td class=boxed><%= @device.notes %></td>
  </tr>
</table>
<br />
<table width=100%>
  <tr>
    <td width=40%>
      <span class="left_field_label">Team:</span>
      <%= text_field_tag 'team', @device.team.name, size: 30, readonly: true %><br /><br />
      <span class="left_field_label">Primary tech:</span>
      <%= text_field_tag 'primary', @device.primary_tech.full_name, size: 30, readonly: true %><br /><br />
      <span class="left_field_label">Backup tech:</span>
      <%= text_field_tag 'backup', @device.backup_tech.full_name, size: 30, readonly: true %><br /><br />
      <span class="left_field_label">Manager:</span>
      <%= text_field_tag 'manager', @manager.full_name, size: 30, readonly: true %>
    </td>
    <td width=30%>
      Equipment Status<br /><br />
      <%= check_box_tag 'active', 1, @device.active, disabled: true %> Active<br />
      <%= check_box_tag 'contract', 1, @device.under_contract, disabled: true %> Under Contract<br />
      <%= check_box_tag 'pm', 1, @device.do_pm, disabled: true %> In PM Program
    </td>
    <td width=30%>
      Estimate PM date using:<br /><br />
      <%= radio_button_tag 'pm_counter_type', 'count', (@device.pm_counter_type == 'count'), disabled: true %> Page Count<br />
      <%= radio_button_tag 'pm_counter_type', 'rotation', (@device.pm_counter_type == 'rotation'), disabled: true %> Rotations<br />
      <%= radio_button_tag 'pm_counter_type', 'life', (@device.pm_counter_type == 'life'), disabled: true %> Life %
    </td>
  </tr>
</table>

<br />
<%= render 'device_contacts' %>
