<%= form_for @model_group do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Model Group" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label "Colour?" %><br />
    <%= f.select :color_flag, [['Yes',true],['No',false]] %>
  </p>
  <%= render partial: 'targets', locals: {mg: @model_group} %>
  <p><%= f.submit %></p>
<% end %>
