<% title "Model Groups", false %>

<table>
  <tr>
  <%= form_tag model_groups_path, method: :get do %>
    <td><%= text_field_tag 'name', params[:name], size: 10 %></td>
    <td><%= text_field_tag 'desc', params[:desc], size: 30 %></td>
    <td><%= radio_button_tag 'color', true %>True<br /><%= radio_button_tag 'color', false %>False</td>
    <td><%= submit_tag "Search" %></td>
  <% end %>
  </tr>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Colour Flag</th>
    <th>Action</th>
  </tr>
  <% for model_group in @model_groups %>
    <tr>
      <td><%= model_group.name %></td>
      <td><%= model_group.description %></td>
      <td><%= model_group.color_flag %></td>
      <td><% if current_user.admin? %>
            <%= link_to "Edit", edit_model_group_path(model_group) %> |
            <%= link_to "Del", model_group, :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @model_groups %>
<% if current_technician.admin? %>
<p><%= link_to "New Model Group", new_model_group_path %></p>
<% end %>
