<% title "Model Group" %>

<p>
  <strong>Name:</strong>
  <%= @model_group.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @model_group.description %>
</p>
<p>
  <strong>Colour Flag:</strong>
  <%= @model_group.color_flag %>
</p>
<%= render partial: 'targets', locals: {mg: @model_group} %>
<p>
  <%= link_to "Edit", edit_model_group_path(@model_group) %> |
  <%= link_to "Destroy", @model_group, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", model_groups_path %>
</p>
