<% title 'Admin Page' %>

<h2>Device Functions</h2>
<ul>
  <li><%= link_to "List Devices", devices_path %></li>
  <li><%= link_to "Add new device", new_device_path %></li>
</ul>

<h2>Model Functions</h2>
<ul>
  <li><%= link_to "List Models", models_path %></li>
  <li><%= link_to "Add new model", new_model_path %></li>
</ul>

<h2>Model Group Functions</h2>
<ul>
  <li><%= link_to "List Model Groups", model_groups_path %></li>
  <li><%= link_to "Add new model group", new_model_group_path %></li>
</ul>
