<% title "Parts For PM", false %>

<table width=100%>
  <tr class=pretty>
    <th><%= sortable 'model_groups.name', 'Model Group', params[:search] %></th>
    <th><%= sortable 'pm_codes.name', 'Pm Code', params[:search] %></th>
    <th><%= sortable 'choice', 'Choice', params[:search] %></th>
    <th><%= sortable 'parts.name', 'Part Number', params[:search] %></th>
    <th><%= sortable 'parts.description', 'Description', params[:search] %></th>
    <th>Quantity</th>
    <th>Action</th>
  </tr>
  <tr class=search_fields>
  <%= form_tag parts_for_pms_url, method: :get do %>
    <%= hidden_field_tag 'sort', sort_column %>
    <%= hidden_field_tag 'direction', sort_direction %>
    <td><%= text_field_tag 'search[model_group]', @search_params[:model_group], :size => 10 %></td>
    <td><%= text_field_tag 'search[pmcode]', @search_params[:pmcode], :size => 5 %></td>
    <td><%= text_field_tag 'search[choice]', @search_params[:choice], :size => 3 %></td>
    <td><%= text_field_tag 'search[pn]', @search_params[:pn], :size => 14 %></td>
    <td><%= text_field_tag 'search[desc]', @search_params[:desc], :size => 20 %></td>
    <td></td>
    <td><%= submit_tag 'Search', name: nil %></td>
  <% end %>
  </tr>
  <% for parts_for_pm in @parts_for_pms %>
    <tr>
      <td><%= parts_for_pm.model_group.name %></td>
      <td><%= parts_for_pm.pm_code.name %></td>
      <td><%= parts_for_pm.choice %></td>
      <td><%= parts_for_pm.part.name %></td>
      <td><%= parts_for_pm.part.description %></td>
      <td><%= parts_for_pm.quantity %></td>
      <td><% if current_technician.admin? %>
          <%= link_to 'Edit', edit_parts_for_pm_url(parts_for_pm) %> |
          <%= link_to 'Del', parts_for_pm, method: :delete %>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @parts_for_pms %>
<% if current_technician.admin? %>
<p><%= link_to "New Parts For Pm", new_parts_for_pm_path %></p>
<% end %>
