<%= form_for @team do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :team_id %><br />
    <%= f.number_field :team_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
