<% title @title, false %>
<br />
<%= render partial: "header_table", locals: {button: "history"} %>

<% unless @device.nil? %>
  <table width="100%">
  <tr>
    <% if @rows.nil? %>
      <th rowspan=2>Date</th>
      <th colspan=2>Total Counters</th>
      <th rowspan=2>Technician's notes</th>
      <th rowspan=2>Recorded by</th>
    <% else %>
      <th>Date</th>
      <% @all_codes.each do |c| %>
        <th><%=h c %></th>
      <% end %>
    <% end %>
  </tr>
  <% if @rows.nil? %>
    <tr><th>BW</th><th>Colour</th></tr>
    <% for reading in @readings %>
      <tr class="<%= cycle('light','dark') %>">
        <td><%=h reading.taken_at.strftime('%b %-d, %Y') %></td>
        <td class=rightjustify><%=h number_with_delimiter(reading.counter_for('bwtotal').value) %></td>
        <td class=rightjustify><%=h reading.counter_for('ctotal').nil? ? '' : number_with_delimiter(reading.counter_for('ctotal').value) %></td>
        <td><%=h reading.notes %></td>
        <td><%=h reading.technician.friendly_name %></td>
      </tr>
    <% end %>
  <% else %>
    <% for row in @rows %>
      <tr class="<%= cycle('light','dark') %>">
        <td><%=h row['taken_at'] %></td>
        <% @all_codes.each do |k| %>
          <td class=rightjustify><%=h number_with_delimiter(row[k]) %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </table>
<% end %>

