<%= simple_form_for @client do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.input_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.input_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.input_field :city %>
  </p>
  <p>
    <%= f.label :province %><br />
    <%= f.input_field :province %>
  </p>
  <p>
    <%= f.label :postal_code %><br />
    <%= f.input_field :postal_code %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p><%= f.submit %></p>
<% end %>
