<% title "Clients", false %>
<table width="100%" class="table-condensed">
  <tr>
    <th>Name</th>
    <th>SoldTo ID</th>
    <th>Notes</th>
  </tr>
  <% for client in @clients %>
    <tr class="<%= cycle('light','dark') %>">
      <td><%= client.name %></td>
      <td><%= client.soldtoid %></td>
      <td><%= client.notes %></td>
      <td><%= link_to "Edit", edit_client_path(client) %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @clients %>
<% if current_user.admin? %>
  <p><%= link_to "New Client", new_client_path %></p>
<% end %>
