<%= form_for @model_target do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :maint_code %><br />
    <%= f.collection_select :maint_code, PmCode.all, :name, :name %>
  </p>
  <p>
    <%= f.label :target %><br />
    <%= f.text_field :target %>
  </p>
  <p>
    <%= f.label :model_group_id %><br />
    <%= f.collection_select :model_group_id, ModelGroup.all, :id, :name %>
  </p>
  <p>
    <%= f.label :unit %><br />
    <%= f.select :unit, [['counter','counter'],['rotation','rotation'],['life','life']] %>
  </p>
  <p><%= f.submit %></p>
<% end %>
