<% title "Model Targets" %>

<table>
  <tr>
    <th>Name</th>
    <th>Target</th>
    <th>Model Group</th>
    <th>Unit</th>
  </tr>
  <% for model_target in @model_targets %>
    <tr>
      <td><%= model_target.maint_code %></td>
      <td><%= model_target.target %></td>
      <td><%= model_target.model_group.name %></td>
      <td><%= model_target.unit %></td>
      <td><%= link_to "Show", model_target %></td>
      <td><%= link_to "Edit", edit_model_target_path(model_target) %></td>
      <td><%= link_to "Destroy", model_target, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Model Target", new_model_target_path %></p>
