<% title "Counter Data" %>

<table>
  <tr>
    <th>Counter</th>
    <th>Reading</th>
    <th>Value</th>
    <th>Unit</th>
  </tr>
  <% for counter_datum in @counter_data %>
    <tr>
      <td><%= counter_datum.counter_id %></td>
      <td><%= counter_datum.reading_id %></td>
      <td><%= counter_datum.value %></td>
      <td><%= counter_datum.unit %></td>
      <td><%= link_to "Show", counter_datum %></td>
      <td><%= link_to "Edit", edit_counter_datum_path(counter_datum) %></td>
      <td><%= link_to "Destroy", counter_datum, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Counter Datum", new_counter_datum_path %></p>
