<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :note %>
    <%= f.label "Activate Date" %><br />
    <%= f.text_field :activate %><br /><br />
    <%= f.input :urgent %>
    <%= f.input :show_flag %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
