<% title @title, false %>

<table width="100%">
  <tr>
    <th><%= sortable 'name' %></th>
    <th><%= sortable 'phone1' %></th>
    <th><%= sortable 'phone2' %></th>
    <th><%= sortable 'email' %></th>
    <th><%= sortable 'notes' %></th>
    <th><%= sortable 'locations.address1', 'Location' %></th>
    <th>Devices</th>
    <th> </th>
  </tr>
  <tr class=search_fields>
  <%= form_tag contacts_url, :method => :get do %>
    <%= hidden_field_tag 'sort', sort_column %>
    <%= hidden_field_tag 'direction', sort_direction %>
    <td id="search_name_cell"><%= text_field_tag "search[name]", @search_params['name'], :size => 1 %></td>
    <td id="search_phone1_cell"><%= text_field_tag "search[phone1]", @search_params[:phone1], :size => 1 %></td>
    <td id="search_phone2_cell"><%= text_field_tag "search[phone2]", @search_params[:phone2], :size => 1 %></td>
    <td id="search_email_cell"><%= text_field_tag "search[email]", @search_params[:email], :size => 1 %></td>
    <td id="search_notes_cell"><%= text_field_tag "search[notes]", @search_params[:notes], :size => 1 %></td>
    <td id="search_location_cell"><%= text_field_tag "search[location]", @search_params[:location], :size => 1 %></td>
    <td></td>
    <td><%= submit_tag 'Search', :name => nil %></td>
  <% end %>
  </tr>
  <% for contact in @contacts %>
    <tr class="<%= cycle('light','dark') %>">
      <td><%= contact.name %></td>
      <td><%= number_to_phone(contact.phone1, area_code:true) %></td>
      <td><%= number_to_phone(contact.phone2, area_code:true) %></td>
      <td><%= contact.email %></td>
      <td><%= contact.notes %></td>
      <td><% unless contact.location.nil? %>
           <%=h contact.location.address1 %>, <%=h contact.location.city %>
           <% end %>
      </td>
      <td class=rightjustify><%= link_to contact.location.devices.length, show_devices_at_location_url(contact.location) %></td>
      <td><%= link_to "Edit", edit_contact_path(contact) %> | 
      <%= link_to "Del", contact, data: {:confirm => 'Are you sure?'}, method: :delete %></td>
    </tr>
  <% end %>
</table>

<% if current_technician.admin? %>
  <p><%= link_to "New Contact", new_contact_path %></p>
<% end %>
