<%= form_for @reading do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :taken_at %><br />
    <%= f.text_field :taken_at %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.label :device_id %><br />
    <%= f.text_field :device_id %>
  </p>
  <p>
    <%= f.label :technician_id %><br />
    <%= f.text_field :technician_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
