<% title "Reading" %>

<p>
  <strong>Taken At:</strong>
  <%= @reading.taken_at %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @reading.notes %>
</p>
<p>
  <strong>Device:</strong>
  <%= @reading.device_id %>
</p>
<p>
  <strong>Technician:</strong>
  <%= @reading.technician_id %>
</p>

<p>
  <%= link_to "Edit", edit_reading_path(@reading) %> |
  <%= link_to "Destroy", @reading, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", readings_path %>
</p>
