<%= form_for @preference do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>General Display and Pager Setting</legend>
    <div class="left_field_label">Initial Screen</div>
    <%= f.select 'default_root_path', [
        ['Search Screen', '/devices/search'],
        ['My PM List', '/devices/my_pm_list'],
        ['My Territory', '/devices'],
        ['Data Analysis', '/devices/0/analyze_data'],
        ['Service History', '/devices/0/service_history']
      ]
    %>
    <br />
    <div class="left_field_label">Lines / page</div>
    <%= f.text_field :lines_per_page %>
  </fieldset>
  <fieldset>
  <legend>Meter reading</legend>
    <div class="left_field_label">Default Notes</div>
    <%= f.text_area :default_notes, :rows => 5, :cols => 60 %>
  </fieldset>
  <fieldset>
  <legend>PM List Settings</legend>
<!--    <%= f.check_box :select_territory %>
    Allow selection of territory<br />-->
    <%= f.check_box :showbackup %>
    Show devices for which I am the backup technician<br />
    <p>
    <div class="left_field_label">Territory:</div><%= f.text_field :territory_to_explore %></p>
    <p>
    <div class="left_field_label">Units to show:</div> <%= f.text_field :default_units_to_show %></p>
    <p>
    <div class="left_field_label">Forecast range:</div> <%= f.number_field :upcoming_interval %> weeks</p>
  </fieldset>
  <fieldset>
  <legend>E-Mail Defaults</legend>
    <%= f.check_box :use_default_email %> Allow use of default parameters for email messages<br />
    <p>
    <div class="left_field_label">Parts eMail</div>
    <%= f.text_field :default_to_email, :size => 40 %></p>
    <div class="left_field_label">Dispatch eMail</div>
    <p>
    <%= f.text_field :default_from_email, :size => 40 %></p>
    <p>
    <div class="left_field_label">Subject</div>
    <%= f.text_field :default_subject, :size => 60 %></p>
    <p>
    <div class="left_field_label">Message</div>
    <%= f.text_area :default_message, :cols => 60 %></p>
    <p>
    <div class="left_field_label">Signature</div>
    <%= f.text_area :default_sig, :rows => 5, :cols => 60 %></p>
    <p>
    <%= f.hidden_field :technician_id %>
  </fieldset>
  <p><%= f.submit %></p>
<% end %>
