<br />

<table class="table-condensed table-hover">
  <tr>
    <th>Default Notes</th>
    <th>Show Backup</th>
    <th>Default Units To Show</th>
    <th>Upcoming Interval</th>
    <th>Default To Email</th>
    <th>Default Subject</th>
    <th>Default From Email</th>
    <th>Default Message</th>
    <th>Default Sig</th>
    <th>Max Lines</th>
    <th>Default Home</th>
    <th>Technician</th>
  </tr>
  <% for preference in @preferences %>
    <tr>
      <td><%= preference.default_notes %></td>
      <td><%= preference.showbackup %></td>
      <td><%= preference.default_units_to_show %></td>
      <td><%= preference.upcoming_interval %></td>
      <td><%= preference.default_to_email %></td>
      <td><%= preference.default_subject %></td>
      <td><%= preference.default_from_email %></td>
      <td><%= preference.default_message %></td>
      <td><%= preference.default_sig %></td>
      <td><%= preference.max_lines %></td>
      <td><%= preference.default_root_path %></td>
      <td><%= preference.technician.full_name %></td>
      <td><%= link_to edit_preference_path(preference) do %><span class="glyphicon glyphicon-edit"></span><% end %></td>
      <td><%= link_to preference, :confirm => 'Are you sure?', :method => :delete do %><span class="glyphicon glyphicon-trash"></span><% end %></td>
    </tr>
  <% end %>
</table>
