<% title "Preference" %>

<p>
  <strong>Limit To Region:</strong>
  <%= @preference.limit_to_region %>
</p>
<p>
  <strong>Limit To Territory:</strong>
  <%= @preference.limit_to_territory %>
</p>
<p>
  <strong>Previous Pm:</strong>
  <%= @preference.previous_pm %>
</p>
<p>
  <strong>Data Entry Date Prompt:</strong>
  <%= @preference.data_entry_date_prompt %>
</p>
<p>
  <strong>Data Entry Notes Prompt:</strong>
  <%= @preference.data_entry_notes_prompt %>
</p>
<p>
  <strong>Default Notes:</strong>
  <%= @preference.default_notes %>
</p>
<p>
  <strong>Select Territory:</strong>
  <%= @preference.select_territory %>
</p>
<p>
  <strong>Territory To Explore:</strong>
  <%= @preference.territory_to_explore %>
</p>
<p>
  <strong>Default Units To Show:</strong>
  <%= @preference.default_units_to_show %>
</p>
<p>
  <strong>Upcoming Interval:</strong>
  <%= @preference.upcoming_interval %>
</p>
<p>
  <strong>Use Default Email:</strong>
  <%= @preference.use_default_email %>
</p>
<p>
  <strong>Default To Email:</strong>
  <%= @preference.default_to_email %>
</p>
<p>
  <strong>Default Subject:</strong>
  <%= @preference.default_subject %>
</p>
<p>
  <strong>Default From Email:</strong>
  <%= @preference.default_from_email %>
</p>
<p>
  <strong>Default Message:</strong>
  <%= @preference.default_message %>
</p>
<p>
  <strong>Default Sig:</strong>
  <%= @preference.default_sig %>
</p>
<p>
  <strong>Max Lines:</strong>
  <%= @preference.max_lines %>
</p>
<p>
  <strong>Email Edit:</strong>
  <%= @preference.email_edit %>
</p>
<p>
  <strong>Technician:</strong>
  <%= @preference.technician_id %>
</p>

<p>
  <%= link_to "Edit", edit_preference_path(@preference) %> |
  <%= link_to "Destroy", @preference, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", preferences_path %>
</p>
