<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body {
        background-color: #fff;
        color: #333;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 13px;
        line-height: 18px;
      }
      th, caption { vertical-align: middle; background-color: #014464; color: white; padding: 5px; }
      td { padding: 2px .5em 2px .5em; vertical-align: top; }
      .light { background-color: #FFFFDD; }
      .dark { background-color: #D2D2D2; }
      .backup_tech { color: #888888; }
      .rightjustify { text-align: right; }
      .past_due { color: white; background-color: red; }
      .in_range { color: black; background-color: yellow; }
      .range2 { background-color: blue; color: white; }
    </style>
  </head>
  <body>
    <table width=100% class="table-condensed">
      <tr class=pretty>
        <th>CRM ID</th>
        <th>Model</th>
        <th>Serial Number</th>
        <th>Client Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Postal Code</th>
        <th>Earliest PM</th>
        <th>Count</th>
      </tr>
    <% @dev_list.each do |dev| %>
      <tr class="<%= cycle('light','dark') %><% if dev.backup_tech_id == @tech.id %> backup_tech<% end %>">
        <td class=rightjustify><%= dev.crm_object_id %></td>
        <td><%= dev.model.nm %></td>
        <td><%= dev.serial_number %></td>
        <td><%= dev.client.name %></td>
        <td><%= dev.try(:location).try(:address1) %></td>
        <td><%= dev.try(:location).try(:city) %></td>
        <td><%= dev.try(:location).try(:post_code) %></td>
        <td class='<%= pm_status_class(dev) %>' style="white-space: nowrap;"><%= @code_date[dev.id].to_fs(:MdY) %></td>
        <td class='<%= pm_status_class(dev) %>'><%= @code_count[dev.id] %></td>
      </tr>
    <% end %> <!-- @dev_list.each -->

  </body>
</html>