<% title "Counter" %>

<p>
  <strong>Name:</strong>
  <%= @counter.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @counter.description %>
</p>
<p>
  <strong>Maint Code:</strong>
  <%= @counter.maint_code %>
</p>

<p>
  <%= link_to "Edit", edit_counter_path(@counter) %> |
  <%= link_to "Destroy", @counter, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", counters_path %>
</p>
