<% title "PM Codes", false %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Color Class</th>
  </tr>
  <% for pm_code in @pm_codes %>
    <tr class="<%= cycle('light','dark') %>">
      <td><%= pm_code.name %></td>
      <td><%= pm_code.description %></td>
      <td><%= pm_code.colorclass %></td>
      <td><%= link_to "Show", pm_code %></td>
      <td><%= link_to "Edit", edit_pm_code_path(pm_code) %></td>
      <td><%= link_to "Destroy", pm_code, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Pm Code", new_pm_code_path %></p>
