<% title "Counters" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Maint Code</th>
  </tr>
  <% for counter in @counters %>
    <tr>
      <td><%= counter.name %></td>
      <td><%= counter.description %></td>
      <td><%= counter.maint_code %></td>
      <td><%= link_to "Show", counter %></td>
      <td><%= link_to "Edit", edit_counter_path(counter) %></td>
      <td><%= link_to "Destroy", counter, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Counter", new_counter_path %></p>
