<% title "Counter" %>

<p>
  <strong>Maint Code:</strong>
  <%= @counter.pm_code.name %>
</p>
<p>
  <strong>Value:</strong>
  <%= @counter.value %>
</p>

<p>
  <%= link_to "Edit", edit_counter_path(@counter) %> |
  <%= link_to "Destroy", @counter, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", counters_path %>
</p>

