<% title "Parts For PM", false %>

<table width=100%>
  <tr class=pretty>
    <th width='10%'><%= sortable 'model_groups.name,choice', 'Model Group', @search_params %></th>
    <th width='10%'><%= sortable 'pm_codes.name,choice', 'Pm Code', @search_params %></th>
    <th width='10%'><%= sortable 'choice', 'Choice', @search_params %></th>
    <th width='15%'><%= sortable 'parts.name', 'Part Name', @search_params %></th>
    <th><%= sortable 'parts.description', 'Description', @search_params %></th>
    <th width='10%'>Quantity</th>
    <th>Action</th>
  </tr>
  <tr class=search_fields>
  <%= form_tag parts_for_pms_url, method: :get do %>
    <%= hidden_field_tag 'sort', sort_column %>
    <%= hidden_field_tag 'direction', sort_direction %>
    <td><%= text_field_tag 'search[model_group]', @search_params[:model_group], {size: 1, class: 'variable-width-input'} %></td>
    <td><%= text_field_tag 'search[pmcode]', @search_params[:pmcode], {size: 1, class: 'variable-width-input'} %></td>
    <td><%= text_field_tag 'search[choice]', @search_params[:choice], {size: 1, class: 'variable-width-input'} %></td>
    <td><%= text_field_tag 'search[pn]', @search_params[:pn], {size: 1, class: 'variable-width-input'} %></td>
    <td><%= text_field_tag 'search[desc]', @search_params[:desc], {size: 1, class: 'variable-width-input'} %></td>
    <td></td>
    <td><%= submit_tag 'Search', name: nil %></td>
  <% end %>
  </tr>
  <% for parts_for_pm in @parts_for_pms %>
    <tr class="<%= cycle('light','dark') %>">
      <td><%= parts_for_pm.model_group.name %></td>
      <td><%= parts_for_pm.pm_code.name %></td>
      <td><%= parts_for_pm.choice %></td>
      <td><%= parts_for_pm.part.name %></td>
      <td><%= parts_for_pm.part.description %></td>
      <td><%= parts_for_pm.quantity %></td>
      <td><% if current_user.admin? %>
          <%= link_to 'Edit', edit_parts_for_pm_url(parts_for_pm) %> |
          <%= link_to 'Del', parts_for_pm, method: :delete %>
          <% end %>
      </td>
    </tr>
  <% end %>
  <tr class="search_fields">
    <%= form_tag parts_for_pms_url do %>
      <td><%= text_field_tag 'model_group[name]', @new_pfp.model_group.nil? ? '' : @new_pfp.model_group.name, size: 1 %></td>
      <td><%= text_field_tag 'pm_code[name]','',size: 1 %></td>
      <td><%= text_field_tag 'parts_for_pm[choice]', @new_pfp.choice, size: 1 %></td>
      <td><%= text_field_tag 'part[name]','',size: 1 %></td>
      <td><%= text_field_tag 'part[description]','',size: 1 %></td>
      <td><%= text_field_tag 'parts_for_pm[quantity]', @new_pfp.quantity, size: 1 %></td>
      <td><%= submit_tag 'Add', name: nil %></td>
    <% end %>
  </tr>
</table>
<%= will_paginate @parts_for_pms %>
<% if current_technician.admin? %>
<p><%= link_to "New Parts For Pm", new_parts_for_pm_path %></p>
<% end %>
