<% title @title, false %>

<table width='100%'>
  <tr>
    <th></th>
    <th>Date</th>
    <th>CRM ID</th>
    <th>Model</th>
    <th>S/N</th>
    <th>To</th>
  </tr>
<%= form_tag handle_checked_transfers_url do %>
<div class=context_menu>For selected devices (or all devices if none selected):
  <%= submit_tag "Cancel Transfer", name: 'cancel' %>
</div>
<br />
<% @transfers.each do |t| %>
  <% device = t.device %>
  <% hidden_field_tag "alldevs[#{device.id}]", device.id %>
  <tr>
    <td><%= check_box_tag "device[#{device.id}]", device.id %></td>
    <td><%= t.created_at.to_formatted_s(:rfc822) %></td>
    <td><%= device.crm_object_id %></td>
    <td><%= device.model.name %></td>
    <td><%= device.serial_number %></td>
    <td><%= t.to_team.name %></td>
  </tr>
<% end %>
<% end %>

</table>
<br />
<%= will_paginate @transfers %>