<% title @title %>

<table width='100%'>
  <tr><th colspan=10>Devices I Am Transferring To ...</th></tr>
  <tr>
    <th></th>
    <th>Date</th>
    <th>CRM ID</th>
    <th>Model</th>
    <th>S/N</th>
    <th>To</th>
  </tr>
  <tr><td colspan=10>
<%= form_tag handle_checked_transfers_url do %>
<div class=context_menu>For selected devices (or all devices if none selected):
  <%= submit_tag "Cancel Transfer", name: 'cancel' %>
</div>
  </td></tr>
<% @from_me.each do |t| %>
  <% device = t.device %>
  <% hidden_field_tag "alldevs[#{device.id}]", device.id %>
  <tr>
    <td><%= check_box_tag "device[#{device.id}]", device.id %></td>
    <td><%= t.created_at.to_formatted_s(:rfc822) %></td>
    <td><%= device.crm_object_id %></td>
    <td><%= device.model.nm %></td>
    <td><%= device.serial_number %></td>
    <td><%= t.to_team.name %></td>
  </tr>
<% end %>
<% end %>
</table>
<br /><br />
<table width='100%'>
  <tr><th colspan=10>Devices being transferred to me</th></tr>
  <tr>
    <th></th>
    <th>Date</th>
    <th>CRM ID</th>
    <th>Model</th>
    <th>S/N</th>
    <th>From</th>
  </tr>
  <tr><td colspan=10>
<%= form_tag handle_checked_transfers_url do %>
<div class=context_menu>For selected devices (or all devices if none selected):
  <%= submit_tag "Accept Devices", name: 'accept' %>
</div>
  </td></tr>
<% @to_me.each do |t| %>
  <% device = t.device %>
  <% hidden_field_tag "alldevs[#{device.id}]", device.id %>
  <tr>
    <td><%= check_box_tag "device[#{device.id}]", device.id %></td>
    <td><%= t.created_at.to_formatted_s(:rfc822) %></td>
    <td><%= device.crm_object_id %></td>
    <td><%= device.model.nm %></td>
    <td><%= device.serial_number %></td>
    <td><%= t.from_team.name %></td>
  </tr>
<% end %>
<% end %>

</table>
