<% title 'Log Records', false %>
<p id="notice"><%= notice %></p>

<table width=100% class="table-hover">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Tech</th>
      <th>Device</th>
      <th>Message</th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    <tr class=search_fields>
    <%= form_tag logs_url, :method => :get do %>
      <td>Export last <%= submit_tag '', name: 'export', value: 30 %> | <%= submit_tag '', name: 'export', value: 60 %> | <%= submit_tag '', name: 'export', value: 90 %> Days</td>
      <td id="search_tech_cell"><%= text_field_tag "search[tech]", @search_params[:tech], {:size => 10, class: "fixed-width-input"} %></td>
      <td id="search_device_cell"><%= text_field_tag "search[device]", @search_params[:device], {:size => 8, class: "fixed-width-input"} %></td>
      <td id="search_message_cell"><%= text_field_tag "search[message]", @search_params[:message], {:size => 50, class: "variable-width-input"} %></td>
      <td><%= submit_tag 'Search', :name => nil %></td>
    <% end %>
    </tr>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.created_at.to_formatted_s(:rfc822) %></td>
        <td><%= log.technician.nil? ? '' : log.technician.friendly_name %></td>
        <td><%= log.device.nil? ? '' : log.device.crm_object_id %></td>
        <td title="<%= log.message %>"><%= truncate(log.message, length: 90) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @logs %>
