<% title 'Log Records', false %>
<p id="notice"><%= notice %></p>

<table width=100%>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Tech</th>
      <th>Device</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.created_at.to_formatted_s(:rfc822) %></td>
        <td><%= log.technician.nil? ? '' : log.technician.friendly_name %></td>
        <td><%= log.device.nil? ? '' : log.device.crm_object_id %></td>
        <td><%= log.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @logs %>
