<p id="notice"><%= notice %></p>

<p>
  <strong>Tech:</strong>
  <%= @log.tech_id %>
</p>

<p>
  <strong>Device:</strong>
  <%= @log.device_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @log.message %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
