<% title @title %>

<p>
  <strong>Team:</strong>
  <%= @technician.team_id %> (<%= @technician.team.name %>)
</p>
<p>
  <strong>First Name:</strong>
  <%= @technician.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @technician.last_name %>
</p>
<p>
  <strong>Friendly Name:</strong>
  <%= @technician.friendly_name %>
</p>
<p>
  <strong>Sharp Name:</strong>
  <%= @technician.sharp_name %>
</p>
<p>
  <strong>Car Stock Number:</strong>
  <%= @technician.car_stock_number %>
</p>
<p>
  <strong>Email:</strong>
  <%= @technician.email %>
</p>
<p>
  <strong>CRM ID:</strong>
  <%= @technician.crm_id %>
</p>

<p>
  <%= link_to "Edit", edit_technician_path(@technician) %>
</p>
