<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "PM Planner" %></title>
    <%= stylesheet_link_tag "application", media: 'all' %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="flash_area">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        </div>
        <div id="tech_navbar">
          <% if current_technician %>
            <% session[:active_at] = Time.now %>
            <% WillPaginate.per_page = current_technician.preference.lines_per_page %>
            Signed in as <%= current_technician.friendly_name -%> | 
            <%= link_to "Sign out", logout_path %> |
            <%= link_to "My profile", edit_preference_path(current_technician) %>
          <% else %>
            <%= link_to "Sign in", login_path %>
          <% end %>
        </div> <!-- tech_navbar -->
      </div> <!-- header -->
      <div id="page_title">
      <%= content_tag :h1, yield(:title) if show_title? %>
      </div>
      <div>
        <ul id=menu>
        <li><%= link_to_unless_current "#{replace_my} Territory", devices_path %></li>
        <li><%= link_to_unless_current "#{replace_my} Contacts", contacts_path %></li>
        <li><%= link_to_unless_current "#{replace_my} PM List", my_pm_list_devices_url %></li>
        <% 
          if @device.nil?
            @device = 0
          end
        %>
        <!--<li><%= link_to_unless_current "Data Entry", {controller: "/devices", action: "enter_data", id: @device}, id: "enter_data_link" %></li>-->
        <li><%= link_to_unless_current "PM Status", {controller: '/devices', action: 'analyze_data', id: @device}, id: "analyze_data_link" %></li>
        <li><%= link_to_unless_current "PM History", {controller: "/devices", action: 'service_history', id: @device}, id: "service_history_link" %></li>
        <% if current_technician and (current_technician.admin? or current_technician.manager?) %>
          <li><%= link_to_unless_current "My Team", technicians_path %></li>
          <li><%= link_to_unless_current "Transfers", transfers_path %></li>
          <li>
            <%= form_tag select_territory_technicians_path do %>
              <%= select_tag :tech_id, options_from_collection_for_select(current_technician.my_techs, :id, :friendly_name, session[:tech_id]), include_blank: true %>
              <%= submit_tag 'Select Territory' %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
