<%= form_for @model do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :model_group %><br />
    <%= f.collection_select(:model_group_id, ModelGroup.all, :id, :name) %>
  <p><%= f.submit %></p>
<% end %>
